@use "common" as *;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  user-select: none;
}

*::-webkit-scrollbar {
  width: 4px;

  @include mobile {
    display: none;
  }
}

*::-webkit-scrollbar-track {
  border-radius: 0;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0;
}

#__nuxt {
  scroll-behavior: smooth;
}

pre {
  text-wrap: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

sup {
  line-height: 0;
  font-size: 1.3rem;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

button, input {
  background: transparent;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}
